AUTHORS
COPYING
ChangeLog
INSTALL
Makefile
Makefile.am
Makefile.in
NEWS
README
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
debian/watch
depcomp
doc/
install-sh
missing
src/
stamp-h1
