#!/usr/bin/make -f

#export DH_VERBOSE=1

TMP:=$(CURDIR)/debian/tmp/

%:
	dh $@

get-orig-source:
	uscan --download-current-version --verbose

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(TMP)/

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=glbd-dbg

